@charset "UTF-8";

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 1920px;
    height: 400px;
    margin: auto;
    transform: translateX(-16%);
}

/* Slides */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

/* Centered Image */
.mySlides img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* 상품 정보 컨테이너 */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 상품 간격 설정 */
    justify-content: center; 
    margin-block: 100px;
}

/* 상품 정보 컨테이너 말머리 */
.product-container h2 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* 개별 상품 카드 */
.product-card {
    width: 256px; /* 고정 너비 */
    height: 400px; /* 고정 높이 */
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* 상품 이미지 */
.product-card img {
    width: 256px; /* 고정 너비 */
    height: 256px; /* 고정 높이 */
    object-fit: cover;
    border-radius: 8px;
}

/* 상품 정보 */
.product-info {
    text-align: left;
    padding: 5px;
}

.product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-info p {
    margin: 5px 0;
    color: #000;
    margin-right: 10px;
}

/* 가격 정보 */
.price-info {
    display: flex;
    align-items: center;
}


.product-info .discount {
    font-size: 20px;
    color: #f00;
    font-weight: bold;
}

.product-info .price {
    font-size: 20px;
    font-weight: bold;
}

.product-info .original-price {
    font-size: 17px;
    text-decoration: line-through;
    color: #999;
}
