@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

.content_area {
	display: flex;
	margin-top: 20px;
	width: 1300px;
}

.left_menuwrap {
	transform: translateY(-20px);

}

#dataTables-example {
	padding:20px;
}

.main_content {
	width: 80%;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	
}

.panel-heading {
	background-color: #f9f9f9;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	font-size: 1.8em;
	font-weight: bold;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.btn-submit {
	background-color: #ff6a00;
	color: white;
	margin-right: 10px;
}

.btn-reset {
	background-color: #f0f0f0;
	color: black;
}

.table-container {
	width: 100%;
}

.table {
	width: 100%;
	
}

.table th, .table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.table th:nth-child(2), .table td:nth-child(2) {
	text-align: right;
}

.pagination {
	margin: 0;
	padding: 10px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.pagination li {
	margin: 0 5px;
}

.pagination a {
	color: #ff6a00;
	text-decoration: none;
}

.pagination .active a {
	font-weight: bold;
}

#regBtn {
	float: right;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
}