<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- NULL 값을 처리할 때 사용할 기본 JDBC 타입 설정 -->
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
</configuration>