<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.unknown.mapper.CartMapper">

	<!-- 카트 추가 -->
	<insert id="addCart">
        <selectKey keyProperty="cartId" resultType="int" order="BEFORE">
            SELECT seq_cartId.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO tbl_cart(cartId, memberId, itemId, itemCount)
        VALUES (#{cartId}, #{memberId}, #{itemId}, #{itemCount})
    </insert>
	
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
	
		delete from tbl_cart where cartId = #{cartId}
	
	</delete>
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
	
		update tbl_cart set itemCount=#{itemCount} where cartId = #{cartId}
	
	</update>
	
	
	<!-- 카트 목록 -->
	<select id="getCart" resultType="com.unknown.model.CartDTO">
	
		select a.cartId, a.memberId, a.itemId, a.itemCount, b.itemName, b.itemPrice, b.itemDiscount
		from tbl_cart a left outer join tbl_item b on a.itemId = b.itemId
		where memberId = #{memberId}	
	
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="com.unknown.model.CartDTO">
	
		select * from tbl_cart 
		where memberId = #{memberId} and itemId = #{itemId}
	
	</select>
	
	<!-- 주문 상품 삭제  -->
	<delete id="deleteOrderCart">
	
		delete from tbl_cart where memberId = #{memberId} and itemId = #{itemId}
	
	</delete>
	
  </mapper>